<h1>GameRoom#show</h1>
<p>Find me in app/views/game_room/show.html.erb</p>

<div>
  <ul>
    <li>Game ID: <%= @current_game ? @current_game.id : 'no current_game'%></li>
    <li>Number of Player: <%= @current_game ? @current_game.num_of_player : 'no current_game'%> </li>
    <li>Host ID: <%= @current_game ? @current_game.num_of_player : 'no current_game'%></li>
    <li>Game roles: <%= @current_game ? @current_game.gameroles : 'no current_game'%></li>
    <li>Game role: <%= @current_gamelog ? @current_gamelog.gamerole : 'no current_gamelog'%></li>
  </ul>
  <% if is_game_host? %>
    <div>
      <p><%= link_to "Killers Win", '/killer_win/true'%></p>
      <p><%= link_to "Killers Lose", '/killer_win/false'%></p>
      <p>Next step after choosing who wins is to choose exit game or start new game</p>
      <p><%= link_to "Exit Game", '/exit_game'%></p>
      <p><%= link_to 'Next Game', '/next_game'%></p>

    </div>
  <% else %>
  <div>
    <p><%= link_to 'Next Game', '/next_game'%></p>
    <p>Need to have flash message</p>
    <p> if game is_end: t, gamelog is_active: t, means game is ended by host. flash message show result. show next game roles, generate gamelog</p>
    <p><%= link_to 'Exit Game', '/exit_game'%></p>
  </div>
  <% end %>

</div>
